<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        </style>
	</head>
	<body>
		<% include ../_partials/adminHeader%>
		<div class="container page-content">
            <div class="grid">
                <h2 class="text-light align-center">वरील मेनू मधील एक पर्याय निवडा</h2>
            </div>
        </div>
		<% include ../_partials/footer%>
	</body>
</html>