<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        </style>
	</head>
	<body class="bg-steel">
		<% include ../_partials/adminHeader%>
		<div class="page-content">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%">
                    <div class="cell auto-size padding20 bg-white" id="cell-content">
                        <h1 class="text-light">Virtual machines <span class="mif-drive-eta place-right"></span></h1>
                        <hr class="thin bg-grayLighter">
                    </div>
                </div>
            </div>
        </div>
		<% include ../_partials/footer%>
	</body>
</html>