<!-- views/_partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Super Awesome</title>
<link rel="stylesheet" href="http://cdn.metroui.org.ua/css/metro.min.css">
<link rel="stylesheet" href="http://cdn.metroui.org.ua/css/metro-responsive.min.css">
<link rel="stylesheet" href="http://cdn.metroui.org.ua/css/metro-icons.min.css">
